@tailwind base;
@tailwind components;
@tailwind utilities;

.poiret-one-regular {
  font-family: "Poiret One", serif;
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
  background-color: #6495ED; /* cornflowerBlue */
}

body {
  background-color: #6495ED; /* cornflowerBlue */
  font-family: "Lora", serif;
  color: beige-800;
}

.lora-regular {
  font-family: var(--font-lora);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@layer base {
  body {
    font-family: "Lora", serif;
    color: beige-800;
  }
}

.noise {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1.9' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  opacity: 0.15;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  background-size: 1100px 1100px;
  pointer-events: none;
  z-index: 2;
}

.content {
  position: relative;
  z-index: 1;
}

/* Add this class if you need Poiret One font */
.poiret-one {
  font-family: var(--font-poiret-one);
}
